#General
.DS_Store
*~
*.swp
build/

#Arduino
*.o
*.hex
*/.dep
*/.lib

#Configuration
Nanpy/cfg.h
makefile/

#Internal dev
Nanpy/arduino.mk
Nanpy/Makefile
Nanpy/libraries

#Python
*.pyc

# ignore all hidden files...
.*
#                        ...except:
!.gitignore

graeme-nanpy.xcodeproj/project.xcworkspace/xcuserdata/graemepyle.xcuserdatad/UserInterfaceState.xcuserstate

graeme-nanpy.xcodeproj/project.pbxproj

graeme-nanpy.xcodeproj/project.xcworkspace/contents.xcworkspacedata

graeme-nanpy.xcodeproj/project.xcworkspace/xcshareddata/graeme-nanpy.xccheckout
